rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {

        match /users/{documentId} {
            allow read: if request.auth != null && request.auth.uid == resource.data.userId;
        }

    }
}
