<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>
            {{ "login" | translate }}
        </ion-title>
        <ion-buttons slot="end">
            <div (click)="close()">
                <ion-icon name="close" size="large"></ion-icon>
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-button (click)="connectWithProvider()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        {{ "signinGoogle" | translate }}
    </ion-button>

</ion-content>
