
.version {
  margin-top: 30px;
  color: white;
  font-size: 14px;

  .help-us {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    ion-icon {
      margin-right: 5px;
    }
  }
}
