<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            {{ "profile" | translate }}
        </ion-title>
        <ion-buttons slot="end">
            <div (click)="openSettingsModal()">
                <ion-icon name="settings-outline" size="large"></ion-icon>
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div>
        {{
            "welcomeMessage" | translate:{
                name: firstName
            }
        }}
    </div>

    <ion-button (click)="openLoginModal()" *ngIf="!currentUser">
        <ion-icon name="log-in" slot="start"></ion-icon>
        <ion-label slot="end">{{ "signin" | translate }}</ion-label>
    </ion-button>

    <ion-button (click)="logout()"
                *ngIf="currentUser"
                color="danger">
        <ion-icon name="log-in" slot="start"></ion-icon>
        <ion-label slot="end">{{ "logout" | translate }}</ion-label>
    </ion-button>

</ion-content>
